@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin:0;
  padding:0;
}

.form-control::-webkit-input-placeholder {
  color: white;
  
}


h1 {
  font-family: 'Inter', sans-serif;
}